{% extends "base.html" %}

{% block extrahead %}
  <meta name="description" content="Build powerful multi-agent systems with Agent Development Kit (ADK)">
  <meta property="og:url" content="https://google.github.io/adk-docs">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Agent Development Kit (ADK)">
  <meta property="og:description" content="Build powerful multi-agent systems with Agent Development Kit (ADK)">
  <meta property="og:image" content="https://google.github.io/adk-docs/assets/adk-social-card.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Agent Development Kit (ADK)">
  <meta name="twitter:description" content="Build powerful multi-agent systems with Agent Development Kit (ADK)">
  <meta name="twitter:image" content="https://google.github.io/adk-docs/assets/adk-social-card.png">
{% endblock %}
